/* --------------------------------------------------------- */
/* !Grid */
/* --------------------------------------------------------- */

/* Grid
------------------------------------------------------------ */

.mtphr-galleries-row {
  width: 100%;
  *zoom: 1;
}
.mtphr-galleries-row:before,
.mtphr-galleries-row:after {
  display: table;
  line-height: 0;
  content: "";
}
.mtphr-galleries-row:after {
  clear: both;
}
.mtphr-galleries-row [class*="mtphr-galleries-grid"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.564102564102564%;
  *margin-left: 2.5109110747408616%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.mtphr-galleries-row [class*="mtphr-galleries-grid"]:first-child {
  margin-left: 0;
}
.mtphr-galleries-row .mtphr-galleries-grid12 {
  width: 100%;
  *width: 99.94680851063829%;
}
.mtphr-galleries-row .mtphr-galleries-grid11 {
  width: 91.45299145299145%;
  *width: 91.39979996362975%;
}
.mtphr-galleries-row .mtphr-galleries-grid10 {
  width: 82.90598290598291%;
  *width: 82.8527914166212%;
}
.mtphr-galleries-row .mtphr-galleries-grid9 {
  width: 74.35897435897436%;
  *width: 74.30578286961266%;
}
.mtphr-galleries-row .mtphr-galleries-grid8 {
  width: 65.81196581196582%;
  *width: 65.75877432260411%;
}
.mtphr-galleries-row .mtphr-galleries-grid7 {
  width: 57.26495726495726%;
  *width: 57.21176577559556%;
}
.mtphr-galleries-row .mtphr-galleries-grid6 {
  width: 48.717948717948715%;
  *width: 48.664757228587014%;
}
.mtphr-galleries-row .mtphr-galleries-grid5 {
  width: 40.17094017094017%;
  *width: 40.11774868157847%;
}
.mtphr-galleries-row .mtphr-galleries-grid4 {
  width: 31.623931623931625%;
  *width: 31.570740134569924%;
}
.mtphr-galleries-row .mtphr-galleries-grid3 {
  width: 23.076923076923077%;
  *width: 23.023731587561375%;
}
.mtphr-galleries-row .mtphr-galleries-grid2 {
  width: 14.52991452991453%;
  *width: 14.476723040552828%;
}
.mtphr-galleries-row .mtphr-galleries-grid1 {
  width: 5.982905982905983%;
  *width: 5.929714493544281%;
}


@media (min-width: 768px) {

	.mtphr-galleries-row-responsive {
    width: 100%;
    *zoom: 1;
  }
  .mtphr-galleries-row-responsive:before,
  .mtphr-galleries-row-responsive:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .mtphr-galleries-row-responsive:after {
    clear: both;
  }
  .mtphr-galleries-row-responsive [class*="mtphr-galleries-grid"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.7624309392265194%;
    *margin-left: 2.709239449864817%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .mtphr-galleries-row-responsive [class*="mtphr-galleries-grid"]:first-child {
    margin-left: 0;
  }
  .mtphr-galleries-row-responsive .mtphr-galleries-grid12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .mtphr-galleries-row-responsive .mtphr-galleries-grid11 {
    width: 91.43646408839778%;
    *width: 91.38327259903608%;
  }
  .mtphr-galleries-row-responsive .mtphr-galleries-grid10 {
    width: 82.87292817679558%;
    *width: 82.81973668743387%;
  }
  .mtphr-galleries-row-responsive .mtphr-galleries-grid9 {
    width: 74.30939226519337%;
    *width: 74.25620077583166%;
  }
  .mtphr-galleries-row-responsive .mtphr-galleries-grid8 {
    width: 65.74585635359117%;
    *width: 65.69266486422946%;
  }
  .mtphr-galleries-row-responsive .mtphr-galleries-grid7 {
    width: 57.18232044198895%;
    *width: 57.12912895262725%;
  }
  .mtphr-galleries-row-responsive .mtphr-galleries-grid6 {
    width: 48.61878453038674%;
    *width: 48.56559304102504%;
  }
  .mtphr-galleries-row-responsive .mtphr-galleries-grid5 {
    width: 40.05524861878453%;
    *width: 40.00205712942283%;
  }
  .mtphr-galleries-row-responsive .mtphr-galleries-grid4 {
    width: 31.491712707182323%;
    *width: 31.43852121782062%;
  }
  .mtphr-galleries-row-responsive .mtphr-galleries-grid3 {
    width: 22.92817679558011%;
    *width: 22.87498530621841%;
  }
  .mtphr-galleries-row-responsive .mtphr-galleries-grid2 {
    width: 14.3646408839779%;
    *width: 14.311449394616199%;
  }
  .mtphr-galleries-row-responsive .mtphr-galleries-grid1 {
    width: 5.801104972375691%;
    *width: 5.747913483013988%;
  }
}

/* --------------------------------------------------------- */
/* !Likes */
/* --------------------------------------------------------- */

.mtphr-gallery-likes {
	position: relative;
	float: right;
	font-size: 14px;
	line-height: 18px;
}
.mtphr-gallery-likes.active {
	cursor: default;
}
.mtphr-gallery-likes i {
	color: #CCC;
	margin-right: 8px;
}
.mtphr-gallery-likes.active i {
	color: #FF0000;
}
.like-loader {
	display: none;
	position: absolute;
	top: -1px;
	right: 14px;
	width: 16px;
	height: 16px;
	background: url(../images/like-loader.gif);
}

/* --------------------------------------------------------- */
/* !Gallery slider */
/* --------------------------------------------------------- */

.mtphr-gallery-resource-container {
	position: relative;
	overflow: hidden;
	text-align: center;
	background: #000;
}
.mtphr-gallery-resource {
	display: none;
	position: absolute;
	top: 0;
	left: 0
}
.mtphr-gallery-wrapper {
	position: relative;
	min-height: 50px;
}
.mtphr-gallery-nav-prev,
.mtphr-gallery-nav-next {
	display: block;
	position: absolute;
	top: 50%;
	z-index: 9999;
	width: 15px;
	height: 30px;
	background-image: url(../images/icons.png);
	background-repeat: none;
	margin-top: -15px;
	text-indent: -9999px;
}
.mtphr-gallery-nav-prev {
	left: 30px;
	background-position: -80px 0;
}
.mtphr-gallery-nav-prev:hover {
	background-position: -80px -40px;
}
.mtphr-gallery-nav-next {
	right: 30px;
	background-position: -60px 0;
}
.mtphr-gallery-nav-next:hover {
	background-position: -60px -40px;
}
.mtphr-gallery-navigation a {
	display: inline-block;
	padding: 5px;
}


/* --------------------------------------------------------- */
/* !Data widget */
/* --------------------------------------------------------- */

.mtphr-gallery-data table {
	width: 100%;
	border-spacing: 0;
}
.mtphr-gallery-data th,
.mtphr-gallery-data td {
	vertical-align: top;
}
.mtphr-gallery-data th {
	padding-right: 5px;
}
.mtphr-gallery-link {
	display: inline-block;
}
.mtphr-gallery-data table + a {
	margin-top: 16px;
}

/* Clearfix
------------------------------------------------------------ */

.mtphr-clearfix {
  *zoom: 1;
}
.mtphr-clearfix:before,
.mtphr-clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.mtphr-clearfix:after {
  clear: both;
}


